<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<properties resource="com/saoe/mybatis/db.properties"></properties>
	
	<typeAliases>
		<typeAlias type="com.saoe.model.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.saoe.model.MessageDTO" alias="MessageDTO"/>
		<typeAlias type="com.saoe.model.ReviewDTO" alias="ReviewDTO"/>
		<typeAlias type="com.saoe.model.ReviewPicDTO" alias="ReviewPicDTO"/>
		<typeAlias type="com.saoe.model.ReplyDTO" alias="ReplyDTO"/>
		<typeAlias type="com.saoe.model.MemberMemberDTO" alias="MemberMemberDTO"/>
		<typeAlias type="com.saoe.model.ReviewMemberDTO" alias="ReviewMemberDTO"/>
		<typeAlias type="com.saoe.model.RestMemberDTO" alias="RestMemberDTO"/>
		<typeAlias type="com.saoe.model.CategoryDTO" alias="CategoryDTO"/>
		<typeAlias type="com.saoe.model.RestaurantDTO" alias="RestaurantDTO"/>
		
	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/saoe/mapper/MemberMapper.xml" />
		<mapper resource="com/saoe/mapper/MessageMapper.xml" />
		<mapper resource="com/saoe/mapper/ReviewMapper.xml" />
		<mapper resource="com/saoe/mapper/RestMapper.xml" />
		
	</mappers>
	
</configuration>