<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saoe.mapper.CateMapper">
	<select id="selectCate" resultType="CategoryDTO">
		select distinct(main_cate) as main_cate from category
	</select>
	<select id="selectSubCate" resultType="CategoryDTO" parameterType="CategoryDTO">
		select * from category where main_cate = #{main_cate}
	</select>

</mapper>