<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saoe.mapper.SearchMapper">
	<select id="search" resultType="SearchDTO">
		select rest_no, rest_name from restaurant where rest_name like #{searchWord}
	</select>

</mapper>